/* src/styles/index.css */

@font-face {
  font-family: 'Roboto';
  src: url('../../node_modules/typeface-roboto/files/roboto-latin-400.woff2') format('woff2'),
       url('../../node_modules/typeface-roboto/files/roboto-latin-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../node_modules/typeface-roboto/files/roboto-latin-700.woff2') format('woff2'),
       url('../../node_modules/typeface-roboto/files/roboto-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  padding: 50px 90px 50px 90px;
  display: flex;
  background-color: #050A30;  
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  /* padding-left: 30px; */
  width: 33%;
}

.chart {
  width: 66%;
}

.overview {
  font-size: 16px;
  margin: 0px;
}

.horizontal-line {
  width: 40%;  /* adjusted width */
  border: 0;
  border-top: 1px solid #363F63;
  margin-top: 5px;  /* center the line */
  margin-left: 0px;
  margin-bottom: 0px;
}

.index-level,
.return {
  font-size: 16px;
  margin: 0;
}

.return-value,
.index-value {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* new classes to color the percent change */
.positive-percent {
  color: green;
}

.negative-percent {
  color: red;
}

.timeframe-buttons {
  display: flex;
  justify-content: flex-start; /* align items to the start */
  margin: 0 0 25px 0;
  gap: 15px; /* spacing between buttons */
}

.timeframe-button {
  border: none;
  padding: 8px 18px;
  background-color: #363F63;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.timeframe-button:hover {
  background-color: #fff;
  color: #363F63;
}

.timeframe-button.selected {
  background-color: #fff;
  color: #363F63;
}

/* header styles below */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 60px;
  background-color: white;
}

header img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2vw;
}

header nav ul li {
  color: black;
  cursor: pointer;
}

header nav ul li a {
  text-decoration: none;
  color: inherit;
}

header nav ul li .special-button {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  gap: 5px;
}

header nav ul li .special-button:hover {
  background-color: darkblue;
}

header nav ul li .external-link-icon {
  margin-left: 5px;
}

.menu-toggle {
  display: none; 
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin-right: 15px;
}

/* Information section */

#information-container {
  margin: auto;
  padding: 50px 100px;
  background-color: white;
}

#information-container h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #050A30;
}

#information-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #050A30;
}

#information-container hr {
  border: none;
  border-top: 1px solid #D0D1D3; /* Adjust the pixel value to make the line thinner */
  width: 50%; /* Adjust this to change how wide the line spans. */
  margin: 40px auto; /* 'auto' to center the line */
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.content-section a {
  color: #363F63;
  text-decoration: none;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.content-section a:hover {
  color: #fff;
  background-color: #363F63;
}

/* For sections with split content (text and content side-by-side) */

.wide-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.wide-section div:first-child {
  flex-basis: 60%;
  max-width: 650px;
}

.wide-section div:last-child {
  flex-basis: 40%;
}

#document-preview {
  max-width: 200px;  /* Adjust this value according to your preference */
  height: 300px;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#document-preview button {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  background: none;
  color: blue;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.centered {
  width: 50vw;
  height: 300px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#tokens-container {
  padding: 0px 20px;
  height: 250px;
  max-width: 320px;
  display: grid; /* Changed from flex to grid */
  grid-template-rows: repeat(3, 1.5fr) 1fr; /* Sets the size of the rows */
  align-items: center; /* Aligns items in the center of each row */
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  color: black;
  align-items: center;
}

.token {
  display: flex;
  justify-content: space-between; /* Aligns groups to the left and right */
  align-items: center; /* Vertically centers the items */
  padding: 10px; /* Adds some space inside the div */
}

.token img {
  height: 50px;
}

.token .left-group {
  display: flex;
  align-items: center; /* Vertically centers the items */
}

.token .token-name {
  margin-left: 20px; /* Adds some space between the icon and the name */
}

.redirect-button-container {
  text-align: right; /* Aligns the button to the right */
}

/* footer section */

.footer-container {
  background-color: #050A30;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-around; 
  flex-wrap: wrap; 
}

.footer-container .footer-section {
  margin: 10px;
}

.footer-container .footer-section h4 {
  margin-bottom: 10px;
}

.footer-container .footer-section p, 
.footer-container .footer-section li {
  margin: 5px 0;
}

.footer-container .footer-section a {
  color: white;
  text-decoration: none;
}

.footer-container .footer-section ul {
  list-style: none;
  padding: 0; /* Removes the padding that comes along with the list style */
}

.footer-container .footer-section a:hover {
  text-decoration: underline;
}

/* Media queries for different screens */

@media screen and (max-width: 1100px) {
  .centered {
    width: 80vw;
  }
}

@media screen and (max-width: 834px) {
  #information-container {
    padding: 25px 10px;
  }

  #information-container h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #050A30;
  }

  .container {
    flex-direction: column;
    padding: 50px 50px 50px 50px;
  }
  .content,
  .chart {
    width: 100%;
  }
  .timeframe-button {
    padding: 4px 9px; /* reduced padding */
  }
  .info-container {
    flex-direction: row; /* stack them in a column when on mobile */
    margin-bottom: 30px;
  }
  .menu-toggle {
    display: block; /* show the toggle button on smaller screens */
  }

  .menu-toggle {
    display: block; 
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  nav.active {
    display: flex;
  }

  nav ul {
    flex-direction: column;
    width: 100%;
  }

  nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }

}