/* src/styles/index.css */

@font-face {
  font-family: 'Roboto';
  src: url('../../node_modules/typeface-roboto/files/roboto-latin-400.woff2') format('woff2'),
       url('../../node_modules/typeface-roboto/files/roboto-latin-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../node_modules/typeface-roboto/files/roboto-latin-700.woff2') format('woff2'),
       url('../../node_modules/typeface-roboto/files/roboto-latin-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.content-with-padding{
  padding-top: var(--header-height);
}

/* Chart section styles below */

.container {
  padding: 110px 3vw 110px 90px;
  display: flex;
  background-color: #050A30;  
  color: white;
}

.info-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.content {
  /* padding-left: 30px; */
  width: 33%;
}

.chart {
  width: 66%;
}

.overview {
  font-size: 16px;
  margin: 0 0 12px 0;
}

.horizontal-line {
  width: 40%;  /* adjusted width */
  border: 0;
  border-top: 1px solid #363F63;
  margin-top: 5px;  /* center the line */
  margin-left: 0px;
  margin-bottom: 0px;
}

.index-level,
.return {
  font-size: 16px;
  margin: 0;
}

.return-value,
.index-value {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* new classes to color the percent change */
.positive-percent {
  color: green;
}

.negative-percent {
  color: red;
}

.timeframe-buttons {
  display: flex;
  justify-content: flex-start; /* align items to the start */
  margin: 0 0 25px 0;
  gap: 15px; /* spacing between buttons */
}

.timeframe-button {
  border: none;
  padding: 10px 16px;
  background-color: #363F63;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
}

.timeframe-button:hover {
  background-color: #fff;
  color: #363F63;
}

.timeframe-button.selected {
  background-color: #fff;
  color: #363F63;
}

@media screen and (max-width: 1300px) {
  .container {
    padding: 110px 40px 110px 60px;
    display: flex;
    background-color: #050A30;  
    color: white;
  }
}

@media screen and (max-width: 834px) {
  .container {
    flex-direction: column;
    padding: 50px 10px 50px 10px;
  }
  .content {
    width: 85%;
    margin-left: 20px;
  }
  .container hr {
    width: 100%;
  }

  .content h2 {
    font-size: 35px;
  }
  .chart {
    width: 100%;
  }

  .timeframe-button {
    padding: 8px 14px; /* reduced padding */
  }

  .timeframe-buttons {
    padding-left: 20px;
  }

  .info-container {
    flex-direction: row; /* stack them in a column when on mobile */
    margin-bottom: 30px;
  }

  .index-image {
    width: 80vw;
  }

  .index-name {
    height: 20vw;
  }
}

/* header styles below */

.header-container {
  position: fixed;
  width: 100vw;
  padding: 0;
  background: white;
  z-index: 10;
  left: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #D0D1D3;
  padding: 30px 3vw 20px 4vw;
  position: relative;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container a {
  padding: 0;
}

.logo-container img{
  height: 60px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4vw;
  display: flex;
  align-items: center;
}

nav ul li a {
  color: #757575; /* Making the text of the links black */
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: none;
}

.active-link{
  color:black;
}

.external-link-icon {
  margin-left: 8px; /* Adjust the value as needed */
}

.menu-toggle {
  display: none; /* Initially hidden */
}

/* Style for the special button */
.special-button {
  background-color: blue;
  color: white;
  border-radius: 0; /* No rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  padding: 12px 22px;
}

/* Style for hover state */
.special-button:hover {
  background-color: darkblue; /* Slightly darker on hover */
  text-decoration: none;
}

@media screen and (max-width: 1150px) {
  nav ul {
    gap: 1.5vw;
  }
}

/* Mobile view */
@media (max-width: 950px) {

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    cursor: pointer; /* Add pointer cursor for better UX */
    font-size: 24px;
    color: black;
    padding: 0;
  }

  .menu-open .menu-container {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    align-items: start;
  }

  .menu-open nav ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 0;
    font-size: 20px;
  }

  .menu-open .menu-toggle {
    position: absolute;
    top: 58px;
    right: 6vw;
  }

  header {
    padding: 30px 6vw 20px 4vw;
  }
}

/* IndexName section */

.index-name {
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 5%;
}

.index-image {
  width: 35vw;
}

/* Mobile view */
@media (max-width: 834px) {

  .index-name {
    height: 20vw;
  }
  
  .index-image {
    width: 70vw;
  }
}

/* Information section */

#information-container {
  margin: auto;
  padding: 50px 100px;
  background-color: white;
}

#information-container h2 {
  margin: 0 0 20px 0;
  font-size: 30px;
  color: #050A30;
}

#information-container p {
  font-size: 16px;
  line-height: 1.6;
  color: #050A30;
}

#information-container hr {
  border: none;
  border-top: 1px solid #D0D1D3; /* Adjust the pixel value to make the line thinner */
  width: 50%; /* Adjust this to change how wide the line spans. */
  margin: 40px auto; /* 'auto' to center the line */
}

.content-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

/* For sections with split content (text and content side-by-side) */

.wide-section {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.wide-section div:first-child {
  flex-basis: 60%;
  max-width: 800px;
}

.wide-section div:last-child {
  flex-basis: 40%;
}

#document-container {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

#document-preview {
  min-width: 200px;
  max-width: 200px;
  height: 300px;
  background: white;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  position: relative;
  transition: transform 0.2s ease;  /* Add transition for smooth scaling */
}

#document-preview:hover{
  transform: scale(104%)
}

#document-preview img {
  width: 100%;
  filter: blur(2px);  /* Adjust the pixel value to control the amount of blur */
}

.centered {
  width: 50vw;
  height: 300px;
  margin: auto;
  text-align: center;
  justify-content: center;
}

#tokens-container {
  padding: 15px 20px 10px 20px;
  height: 250px;
  width: 270px;
  display: grid; /* Changed from flex to grid */
  grid-template-rows: repeat(3, 1.5fr) 1fr; /* Sets the size of the rows */
  align-items: center; /* Aligns items in the center of each row */
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
  color: black;
  align-items: center;
  transition: transform 0.2s ease;  /* Add transition for smooth scaling */
}

#tokens-container:hover {
  text-decoration: none;
  transform: scale(103%)
}

.token {
  display: flex;
  justify-content: space-between; /* Aligns groups to the left and right */
  align-items: center; /* Vertically centers the items */
  padding: 10px; /* Adds some space inside the div */
}

.token img {
  height: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50%; /* Ensures the image is circular */
}

.token .left-group {
  display: flex;
  align-items: center; /* Vertically centers the items */
}

.token .token-name {
  margin-left: 20px; /* Adds some space between the icon and the name */
}

.redirect-button-container {
  text-align: right; /* Aligns the button to the right */
}

.waitlist{
  margin-top: 20px;
}

@media screen and (max-width: 1100px) {
  .centered {
    width: 80vw;
  }

  #information-container h2 {
    font-size: 24px;
  }

  #information-container {
    padding: 50px 50px;
  }

}

@media screen and (max-width: 834px) {

  .token {
    width: 250px;
  }

  #information-container {
    padding: 40px 5vw;
  }

  #information-container h2 {
    margin: 0 0 20px 0;
    font-size: 20px;
    color: #050A30;
  }

  .wide-section {
    flex-direction: column;
    text-align: center;
    gap: 0px;
  }

  .centered{
    width: 100%;
  }

  #document-preview {
    min-width: 150px;
    max-width: 150px;
    height: 225px;
  }

  #hero-section {
    height: calc(155px + 0.2 * (834px - 100vw));
  }

  #hero-section p{
    margin: 0;
    padding: 0;
  }

  #preview-section {
    height: calc(370px + 0.2 * (834px - 100vw));
  }

  #tokens-section {
    height: calc(450px + 0.2 * (834px - 100vw));
  }

  #waitlist-section {
    height: calc(150px + 0.2 * (834px - 100vw));
  }
}

/* footer section */

.footer-section-logo{
  width: 35vw;
  margin-left: 20px;
}

.footer-logo img{
  width: 150px;
}

.footer-container {
  display: flex;
  padding: 60px 40px 60px 40px;
  background-color: #050A30;
  color: white;
}

.footer-sections-wrapper {
  display: flex;
  align-items: flex-end;
  gap: 80px;
}x

.footer-section {
  padding: 30px;
}

.footer-section h4{
  margin-top: 0px;
  padding-top: 0px;
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 200px;
}

.footer-icons img {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

a {
  color: white;
  text-decoration: none;
  margin-bottom: 5px;
  display: block;
}

a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 834px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section-logo{
    width: 270px;
    margin-top: 40px;
    margin-left: 0px;
    order: 2;
  }

  .footer-sections-wrapper {
    order: 1;
  }
}