h1 {
    font-size: 35px;
    font-weight: 500;
}

p {
    line-height: 30px;
}

h2 {
    font-size: 23px;
}

.main{
    margin: auto;
    padding: 50px 100px 20px 100px;
}

hr {
    border: none;
    border-top: 1px solid #D0D1D3; /* Adjust the pixel value to make the line thinner */
    width: 50%; /* Adjust this to change how wide the line spans. */
    margin: 40px auto; /* 'auto' to center the line */
  }

/* Styles below */

.hero-section {
    text-align:center;
    margin-bottom: 60px;
    padding: 0 17vw;
}

.paper-section{
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    gap: 50px;
    text-align: justify;
}

.paper-section div:first-child {
    flex-basis: 70%;
    max-width: 1000px;
}

.paper-section div:last-child {
    flex-basis: 30%;
}

.description h2 {
    margin-top: 0;
}

.document-preview {
    min-width: 200px;
    max-width: 200px;
    height: 283px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    position: relative;
}

.document-preview img {
    width: 100%;
}

.document-preview button {
    position: absolute;
    right: 30%;
    bottom: -25px;
    background-color: transparent;
    color: blue;
    border: none;
    cursor: pointer;
}

.document-preview button:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1150px) {

    .hero-section{
        padding: 0 7vw;
    }

    h1 {
        font-size: 30px;
        font-weight: 450;
    }
    
    p {
        line-height: 25px;
        font-size: 15px;
    }
    
    h2 {
        font-size: 18px;
    }
}

@media (max-width: 950px) {

    .hero-section {
        padding: 0;
    }

    .main{
        margin: auto;
        padding: 50px 40px 20px 40px;
    }

    .paper-section{
        flex-direction: column;
        align-items: center;
        margin: 70px 0;
        gap: 30px;
    }
}